.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 85px;
    }
    .nav-head{
        display: inline-flex;
        gap: 5px;
    }
nav > ul{
    display: flex;
    align-items: center;
    
}
nav a{
    text-decoration: none;
}
nav li{
    list-style: none;
    margin-left: 44px;
}

.banner{
    border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png);
max-width: 100%;
width: 1170px;
height: 500px;   
margin: 0 auto;
}

.banner h2, p{
    display: flex;
    align-items: center;
    justify-content: center;
    }

.banner h2{
color: #FFF;
font-family: "Mulish", sans-serif;
font-size: 40px;
font-weight: 800;
padding-top: 100px;
}
.banner p{
    
    color: #FFF;
text-align: center;
font-family: "Mulish", sans-serif;
font-size: 16px;
font-weight: 400;
margin-top: 25px;

}

.option-container{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
   display: flex;
    gap: 30px;
    padding: 10px;
    justify-content: center;
    margin: 0 160px;
    margin-top: 48px;
   }

.option-item{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
height: 52px;
border: 0;
}

.select-item{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
height: 52px;
border: 0;
}

.btn-1{
    width: 174px;
height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
text-align: center;
font-family: "Mulish", sans-serif;
font-size: 16px;
font-weight: 700;
padding: 15px 25px;
}


/* Second Items */

.about-tours-container{
    width: 1170px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
   margin-top: 100px;
}
.tours-head{
    color: #131318;

    font-family: "Mulish", sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 35px;

}
.tours-info{
    color: rgba(19, 19, 24, 0.70);
    font-family: "Mulish", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

}

.about-tours-content li{
    color: rgba(19, 19, 24, 0.70);
    font-family: "Mulish", sans-serif;
font-size: 16px;
font-weight: 400;
padding-right: 50px;
margin-bottom: 30px;
}

.about-tours-content p{
    padding-right: 50px;
    margin-top: 63px;
    
    
}
.about-tours-desc{
    color: #5A5A5D;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    
} 
.btn-2{
    border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: "Mulish", sans-serif;
font-size: 20px;
font-weight: 800;
border: 0;
padding: 15px 30px;
margin-top: 85px;

}

/* Third Section */
.destination{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.destination-h{
    color: #131318;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 40px;
    font-weight: 800;
   
}
.destination-p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: "Mulish", sans-serif;
font-size: 16px;
font-weight: 400;

}
.img-container-1{
    width: 500px;
height: 300px;
display: flex;
gap: 24px;
}
.img-container-2{
    display: flex;
    margin-top: 24px;
    gap: 24px;
    }
.img-container-3{
    display: flex;
    margin-top: 24px;
    gap: 24px;
}

/* Our Service */

.our-services{
    width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
text-align: center;
justify-content: center;
}
.our-service-h{
    color: #131318;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 40px;

    font-weight: 800;
   
}
.our-service-p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    
    font-weight: 400;
    
}

.box-container{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
gap: 24px;
    
}

.box-1{
    width: 570px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);

}

.box-1-h{
    color: #131318;
    font-family: "Mulish", sans-serif;
    font-size: 24px;

    font-weight: 800;
   
}

.box-1-p{
    color: #5A5A5D;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
 
    font-weight: 400;
}

.box-2{
    width: 570px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.box-2-h{
    color: #131318;
    font-family: "Mulish", sans-serif;
    font-size: 24px;

    font-weight: 800;

}
.box-2-p{
    color: #5A5A5D;
font-size: 16px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
}


.box-3{

    width: 570px;
height: 284px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}

.box-3-h{
    color: #131318;
    font-family: "Mulish", sans-serif;
font-size: 24px;
font-weight: 800;

}

.box-3-p{
    color: #5A5A5D;
    font-family: "Mulish", sans-serif;
font-size: 16px;
font-weight: 400;

}

.newsletter{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.newsletter-1{
    border-radius: 16px;
border: 1px solid #FF5400;
width: 518px;
margin-top: 100px;
text-align: left;
}

.newsletter-1-head{
    margin-left: 48px;
    margin-top: 40px;
    font-family: "Mulish", sans-serif;
    color: #131318;
font-size: 24px;
font-weight: 800;
}
.newsletter-1-para{
    margin-left: 0px;
    margin-bottom: 24px;
    color: #5A5A5D;
    font-family: "Mulish", sans-serif;
font-size: 16px;

font-weight: 400;

}
.newsletter-1 hr{
    width: 75%;
    margin-bottom: 24px;
}

.newsletter-form{
   display: flex;
    flex-direction: column;
    width: 393px;
text-align: center;
margin-left: 45px;
}

.newsletter-form input{
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding: 16px;
margin-bottom: 22px;
border: 0;
}

.newsletter-btn{
    border-radius: 8px;
background: #FF5400;
border: 0;
padding: 16px 100px;
margin-bottom: 35px;
color: #FFF;
text-align: center;
font-family: "Mulish", sans-serif;
font-size: 15px;
font-weight: 800;
}

.newsletter-2{
    position: relative;
}

.newsletter-2 img{
 margin-top: 100px;
}
.travel-saving{
    width: 314px;
    text-align: center;
    border-radius: 16px;
background: #FF5400;
transform: rotate(-20deg);
position: absolute;
right: 20px;
bottom: 55px;
padding: 10px 0;
}

.travel-saving h2{
    color: #FFF;
text-align: center;
font-family: "Mulish", sans-serif;
font-size: 24px;
font-weight: 400;
}

.travel-saving p{
    color: #FFF;
    font-family: "Mulish", sans-serif;
font-size: 32px;
font-weight: 800;
}



/* Footer Section */
footer{
    width: 1320px;
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 100px;
}

.footer-heading{
    
    
    padding-top: 110px;
    display: inline-flex;
}


.head-name{
    color: var(--Dark-01, #131318);
    font-family: "Mulish", sans-serif;
font-size: 32px;
font-weight: 800;
}

.head-name-last{
    color: #FF5400;
    font-family: "Mulish", sans-serif;
font-size: 32px;
font-weight: 800;
}

.footer-desc{
    margin-top: 25px;
}
.social{
    margin-top: 40px;
}
.footer-para{
    padding-bottom: 100px;
}
footer hr {
    width: 70%;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 50px;
    margin-bottom: 50px;
    }


/* Media Query */


@media screen and (max-width: 600px) {
   .navigation{
    width: 600px;
    max-width: 95%;
   }
   
   nav> ul{
    width: 300px;
    max-width: 95%;
    display: none;
    background-color: #FF5400;
   }
   .nav-head{
    margin-left: -72px ;
    }
   
   }
   .banner{
    width: 600px;
    max-width: 95%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    
   }
   .banner h2{
    width: 330px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 8px;
    padding-top: 40px;
    font-size: 1.25rem;
   }

.banner p{
    width: 335px;
    max-width: 100%;
    
    }
    .option-container{
        width: 325px;
        max-width: 100%;
        flex-direction: column;
        margin-left: 10px;
        padding: 0;
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        
    }
    .option-item{
       width: 300px;
       width: 88%;
       margin-top: 13px;
        
    }
    .select-item{
        width: 300px;
        width: 90%;
        padding: 10px 0;

         
    }
    .btn-1{
        width: 300px;
        max-width: 100%; 
        margin-bottom: 13px; 
    }
   .about-tours-container{
    width: 600px;
    max-width: 95%;
    flex-direction: column;
    margin-top: 20px;
   }
   .about-tours-container, .btn-2{
margin-bottom: 40px;
   }
   .about-tours-container img{
    max-width: 95%;
   }

   .destination{
    width: 600px;
    max-width: 95%;
    flex-direction: column;
    gap: 0px;
   }
   .destination, .img-container-1{
    width: 600px;
    max-width: 95%;
    flex-direction: column;
    margin-bottom: 10px;
   }
   .img-3{
    margin-top: 40px;
   }
   .destination, .img-container-2{
    width: 600px;
    max-width: 95%;
    flex-direction: column;
    margin-top: 25px;
 }
 .img-container-2{
    margin-top: 50px;
 }
 .destination, .img-container-3{
    width: 600px;
    max-width: 95%;
    flex-direction: column;
 }
 .our-services{
    width: 600px;
    max-width: 90%;
 }
 .our-service, .box-container, .box-1, .box-2{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
 }
 .box-1-h{
    font-size: 1.50rem;
 }
 .newsletter{
    width: 600px;
    max-width: 90%;
    flex-direction: column;
 }
 .newsletter-1{
    width: 600px;
    max-width: 100%;
    flex-direction: column;
 }

 .newsletter-1-para{
    font-size: 0.75rem;
    
 }
 
    .newsletter-1 hr{
        max-width: 600px;
        max-width: 60%;
    }
 .newsletter-form{
    width: 600px;
    max-width: 70%;
    flex-direction: column;
 }
 .newsletter-btn{
    font-size: 0.95rem;
    padding-left: 75px;
 }
    .newsletter-2 img{
        width: 600px;
        height: 422px;
        max-width: 100%;
        margin-top: 30px;
        
        }
        .travel-saving{
            
            width: 90%;
            } 
        
    .travel-saving h2{
        font-size: 0.75rem;
    }
    .travel-saving p{
        font-size: 0.75rem;
    }
    footer{
        width: 600px;
        max-width: 95%;
        
    }
    .footer-heading, .head-name, .head-name-last{
        width: 50%;
        font-size: 1.35rem;
    }
    .footer-heading img{
        width: 45%;
    }
}
